			<div class="histogram-box">
				<div class="histogram-drop">
					
					<histogram-objects></histogram-objects>

					<histogram-data></histogram-data>
					
				</div>

				<div class="histogram" id="histogram">
					<canvas id="chart" width="600" height="400" ></canvas>
				</div>

				<button id="get" ng-click="$ctrl.click()"  style="width: 100px;height: 50px;">{{$ctrl.var}}</button>
				<button id="get" ng-click="$ctrl.clear()"  style="width: 100px;height: 50px;">{{$ctrl.but}}</button>

				<div class="clear"></div>
			</div>